[Unit]
# WORKAROUND FOR MISSING "user namespaces on kernel"
Description=Daemon for power management
Documentation=man:upowerd(8)

[Service]
Type=dbus
BusName=org.freedesktop.UPower
ExecStart=/usr/libexec/upowerd
Restart=on-failure

[Install]
WantedBy=graphical.target
